<%= form_for(@transfer, :remote => true) do |f| %>
  
  <div id="error_explanation" title="Error Saving Transfer" style="font-size:0.8em; display:none;">
    Error saving Transfer.<br />
    You need to fill out the <b>value</b>.
  </div>
  
  <div class="field">
    From
    <%= f.collection_select :donor_id, Account.all, :id, :name  %>
  </div>

  <div class="field">
    To
    <%= f.collection_select :recipient_id, Account.all, :id, :name  %>
  </div>

  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  
  <div class="actions">
    <%= f.submit :class => 'submitButton' %>
  </div>
<% end %>