<%= form_for(@expense, :remote => true) do |f| %>
  
  <div id="error_explanation" title="Error Saving Expense" style="font-size:0.8em; display:none;">
    Error saving expense.<br />
    You need to fill out the <b>name</b>, <b>value</b>, and <b>date</b>.
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  
  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </div>
  
  <div class="field">
    <%= f.collection_select :account_id, Account.all, :id, :name  %>
  </div>
  
  <div class="actions">
    <%= f.submit :class => 'submitButton' %>
  </div>
<% end %>