<!DOCTYPE html>
<html>
<head>
  <title>Mmi</title>
  <%= stylesheet_link_tag    "application", "beach/jquery-ui-beach", "jquery.ui.potato.menu" %>
  <%= javascript_include_tag "application", "jquery_ujs", "jquery-ui", "site", "jquery.ui.potato.menu" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= yield :flash %>



</body>
</html>
