<%= form_for(@account, :remote => true) do |f| %>
  
  <div id="error_explanation" title="Error Saving Account" style="font-size:0.8em; display:none;">
    Error saving account.<br />
    You need to fill out the <b>name</b> and <b>percentage</b>.
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    Bank
    <%= f.collection_select :bank_id, Bank.all, :id, :name  %>
  </div>

  <div class="field">
    Percentage<br />
    <%= number_field_tag "percentage", @account.allocator.percentage %>
  </div>

  <p>
    Image
    <%= f.file_field :image %>
  </p>
  
  
  <div class="actions">
    <%= f.submit :class => 'submitButton' %>
  </div>
<% end %>